body{
    margin: 0%;
    padding: 0%;
}
.container{
    background-size: cover;
 width: 100%;
 position: relative;
}
img{
    width: 100%;
}
.text{
position: absolute;
top: 50%;
left: 40%;
color: rgb(1, 7, 90);
font-size: 50px;
font-weight: bolder;
}